@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: lightgray;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
}

section#aviso {
    background-color: rgb(255, 0, 0);
    color: white;
    border-color: rgb(133, 0, 0);
}

input {
    margin-top: 5px;
}