@charset "UTF-8";

@media print {
  * {
    font-family: "Courier New", Courier, monospace;
  }

  main {
    border: 1px solid black;
  }

  main h1 {
    color: black;
    text-shadow: none;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}