@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: white url(../pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../pacote-d013/imagens/frame-iphone.png) no-repeat;
    background-size: 100%;

    transform: translate(-50%, -50%);
    height: 471px;
    width: 234px;
    }


iframe#tela{
    position: relative;
    top: 61px;
    left: 17px;
    height: 354px;
    width: 200px;
}

section#social img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

section#social {
    text-align: right;
}

section#social img:hover {
    border: 2px solid rgba(255, 255, 255, 0.5);
    transform: translate(0px, -3px);
    transition: transform 0.15s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
}